{% extends "layout.html" %}

{% block body %}
<form action="/register" method="post">
    <br><label>Username: <input name="x" placeholder="Type here..." type="text"></label>
    <ul>
            <li> Grade 11 Average Score: <input name="o" placeholder="Type here..." type="text"></li>
            <li> Grade 12 Average Score: <input name="p" placeholder="Type here..." type="text"></li>
    </ul>
    <label> PSAT/Toefl: <input name="q" placeholder="Type here..." type="text"</label>
    <input type="submit" value="submit"/>
</form>
{% endblock %}